<link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/github-gist.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/codemirror/5.29.0/codemirror.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/github-markdown-css/2.8.0/github-markdown.min.css" rel="stylesheet">
<style>
  .CodeMirror {
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  #preview_area {
    min-height: 300px;
    background:rgba(0, 0, 0, 0.15); 
    margin: 1rem;
  }
</style>
<%= simple_form_for @post do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <label class="btn btn-default pull-right" onclick="preview_toggle()">Preview Toggle</label>
  <div class="row"></div>
  <div id="markdown_area">
    <%= f.input :content, label: false %>
  </div>
  <div style="display: none;">
    <%= f.input :content_html %>
  </div>
  <div id="preview_area" class="markdown-body">
  </div>
  <%= f.button :submit %>
<% end %>

<script src="https://cdn.bootcss.com/codemirror/5.29.0/codemirror.min.js"></script>
<script src="https://cdn.bootcss.com/codemirror/5.29.0/mode/markdown/markdown.min.js"></script>
<script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script>
  var editor
  
  var render_preview

  $(document).ready(function() {
    $("#preview_area").toggle()
    render_preview = function() { 
      var preview_html = marked(editor.getValue(), {
          sanitize: true,
          highlight: function(code) {
              return hljs.highlightAuto(code).value;
          }
      })
      $("#post_content_html").text(preview_html)
      $("#preview_area").html(preview_html)
    }

    editor = CodeMirror.fromTextArea(document.getElementById("post_content"), {
      mode: "markdown",
      tabSize: 2,
    });

    editor.on("change", render_preview)
  })

  function preview_toggle(){
    render_preview()
    $("#preview_area").toggle()
    $("#markdown_area").toggle()

  }

</script>
